{% extends 'base.html' %}
{% load static %}


{% block title %}Рецепты{% endblock %}

{% block content %}

        <div class="products center" style='background-image: url("{% static 'img/wall.jpg' %}")'>
            <h2 class="product-box__heading">Новые блюда</h2>
            <p class="product-box__text">Готовьте вкусно</p>
            <div class="products_product">

{% for recipe in recipes %}
                <div class="product">
                    <div class="product_img_box">
                        <img class="product__img" src="{{ MEDIA_URL }}{{ recipe.image }}" alt="">
                    </div>
                    <div class="product__content">
                        <a href="recipe_full/{{recipe.id}}" class="product__price">{{ recipe.title }}</a>
                        <p class="product__text">{{ recipe.cooking_steps|truncatewords:20|linebreaks }}</p>
                        <p class="product__heading">Published {{ recipe.created_at }} by {{ recipe.author }}</p>
                    </div>
                </div>
{% endfor %}
            </div>
        </div>
{% endblock %}
