{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h2>Вход</h2>

{% if form.errors %}
  <p>Ваши имя пользователя и пароль не совпали. Пожалуйста, попробуйте снова.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ваша учетная запись не имеет доступа к этой странице. Чтобы продолжить,
пожалуйста, войдите в систему с учетной записью, у которой есть доступ.</p>
  {% else %}
    <p>Пожалуйста, войдите в систему, чтобы увидеть эту страницу.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="form">
{% csrf_token %}
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-secondary btn-lg">Войти</button>
</form>


{% endblock %}
