{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block title_1 %}РЕГИСТРАЦИЯ{% endblock %}
{% block title_2 %}НОВОГО&nbsp{% endblock %}
{% block title_3 %}ПОЛЬЗОВАТЕЛЯ{% endblock %}

{% block content %}
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Отправить"></td>
        </tr>
      </table>
    </form>


{#    <div style="background: #fefbe8; align-content: center>#}
{##}
{#        <div class="container" style="background: #fefbe8;>#}
{##}
{#            <form class="form-horizontal" style="background: #fefbe8;" method="post">#}
{#                    {% csrf_token %}#}
{#                <fieldset>#}
{#                    <legend>{{ title }}</legend>#}
{#                    {% for field in form %}#}
{#                        {% if field.errors %}#}
{#                            <div class="control-group error">#}
{#                                <label class="control-label">{{ field.label }}</label>#}
{#                                <div class="controls">{{ field }}#}
{#                                    <span class="help-inline text-bg-danger">#}
{#                                        {% for error in  field.errors %}{{ error }}{% endfor %}#}
{#                                    </span>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="control-group">#}
{#                                <label class="control-label">{{ field.label }}</label>#}
{#                                <div class="controls">{{ field }}#}
{#                                    {% if field.help_text %}#}
{#                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </fieldset>#}
{#                <div class="form-actions">#}
{#                    <button type="submit" class="btn btn-outline-dark btn-lg" >Зарегистрироваться</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{% endblock %}

{% block content_products %}{% endblock %}

