<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/rubikdoodleshadow.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"  type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <title>{% block title %}{{ name }}{% endblock %}</title>
</head>

<body>

    <div class="menu row">

        <div class="search d-flex align-items-center justify-content-center col col-md-2 col-6">
            <div class="logo_ico">
                <a href="{% url 'index' %}"> <img src="{% static 'img/Group.png' %}" alt="logo"></a>
            </div>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-3 col-6">
            <div class="search">
                <a href="#"><img src="{% static 'img/search.svg' %}" alt="Поиск"></a>
            </div>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
             <a class="menu_button" href="{% url 'index' %}">Главная</a>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
             <a class="menu_button" href="#">Поиск</a>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
             <a class="menu_button" href="{% url 'recipe_form' %}">Добавить</a>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
             <a class="menu_button" href="#">Статьи</a>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
             <a class="menu_button" href="{% url 'registration' %}">Регистрация</a>
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
              {% if user.is_authenticated %}
                  <a class="menu_button_red" href="{% url 'logout_user' %}">Выход</a>
              {% else %}
                  <a class="menu_button_red" href="{% url 'login' %}">Вход</a>
              {% endif %}
        </div>

        <div class="search d-flex align-items-center justify-content-center col col-md-1 col-4">
             <a class="menu_button_red" href="#"></a>
        </div>

    </div>


    <div class="desktop_index">

        <div class="top center">

            <div class="top_img">
                <img style="width: 100%;"  src="{% static 'img/cookbook.jpeg' %}"  alt="">
            </div>

            <div class="align-items-center justify-content-center promo__content">
                <div class="align-items-center justify-content-center promo__info">
                    <h1 class="promo__title">{% block title_1 %}САЙТ{% endblock %}</h1>
                    <h2 class="promo__heading">{% block title_2 %}ВКУСНЫХ&nbsp{% endblock %}
                        <span class="fashion">{% block title_3 %}РЕЦЕПТОВ{% endblock %}</span></h2>
                </div>
            </div>

        </div>

{% block content %}
        <div class="offer center">
            <div class="head_offer">
                <div class="offer_small">
                    <img src="{% static 'img/Women.png' %}" alt="for women image">
                    <div class="sale__content">
                        <p class="sale__text">30% СКИДКА</p>
                        <h3 class="sale__heading">ДЛЯ ЖЕНЩИН</h3>
                    </div>
                </div>

                <div class="offer_small">
                    <img src="{% static 'img/men.png' %}" alt="for men image">
                    <div class="sale__content">
                        <p class="sale__text">ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</p>
                        <h3 class="sale__heading">ДЛЯ МУЖЧИН</h3>
                    </div>
                </div>

                <div class="offer_small">
                    <img src="{% static 'img/kids.png' %}" alt="for kids image">
                    <div class="sale__content">
                        <p class="sale__text">НОВЫЕ ПОСТУПЛЕНИЯ</p>
                        <h3 class="sale__heading">ДЛЯ ДЕТЕЙ</h3>
                    </div>
                </div>
            </div>

            <div class="foot_offer">
                <div class="offer_big">
                    <img src="{% static 'img/Rectangle.png' %}" alt="for ACCESORIES image">
                    <div class="sale__content">
                        <p class="sale__text">РОСКОШНЫЕ И МОДНЫЕ
                            </p>
                        <h3 class="sale__heading">АКСЕССУАРЫ</h3>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block content_products %}


{% endblock %}

        <div class="advantages center">
            <article class="advantages__item">
                <img class="advantages__img" src="{% static 'img/Forma 1.svg' %}" alt="">
                <h3 class="advantages__heading">Бесплатная доставка продуктов</h3>
                <p class="advantages__text">
                    Нет ничего дороже времени, так что береги его. Обращайся к нам!
                </p>
            </article>
            <article class="advantages__item">
                <img class="advantages__img" src="{% static 'img/Forma 2.svg' %}" alt="">
                <h3 class="advantages__heading">Акции</h3>
                <p class="advantages__text">
                    Скидки на покупки от 1500р.
                </p>
            </article>
            <article class="advantages__item">
                <img class="advantages__img" src="{% static 'img/Forma 3.svg' %}" alt="">
                <h3 class="advantages__heading">Лучшиие продукты</h3>
                <p class="advantages__text">
                    Самые свежие по выгодным ценам.
                </p>
            </article>
        </div>


        <div class="pred_footer_container">

            <div class="pred_footer center">
                <article class="advantages__item">

                    <div>
                        <img class="pred_footer__img" src="{% static 'img/Layer 40.png' %}" alt="">
                    </div>


                    <p class="pred_footer__text">
                        "Я обязательно научусь программировать <br> на языке PYTHON <br> и изучу DJANGO!"
                    </p>
                </article>


                <article class="advantages__item_1">
                    <p class="pred_footer__text__1">
                        <span class="bold">ПОДПИШИТЕСЬ</span> <br> НА&nbspНАШУ&nbspРАССЫЛКУ НОВОСТЕЙ&nbspИ&nbspРЕКЛАМНЫЕ АКЦИИ
                    </p>


                    <div class="input_place">
                        <form>
                            <input class="pred_footer_input_btn" required type="email" placeholder="Это поле пока не работает">
                            <input class="pred_footer_input" required type="submit" value="Подписаться">
                        </form>
                    </div>


                </article>

            </div>

        </div>

    </div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>